* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(248, 146, 30);
    color: white;
    font-family: 'Tahoma', sans-serif;
}

header {
    background-color: brown;
    color: white;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

.logo {
    width: 100px;
    border-radius: 100px;
}

.navegação {
    flex-grow: 1;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: #e2e8f0;
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #e7b50e, rgb(248, 146, 30));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.sobre {
    background-color: brown;
    padding: 2rem;
    border-radius: 16px;
    max-width: 900px;
    text-align: center;
    margin-bottom: 2rem;
}

.sobre:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.paragrafo-sobre {
    font-size: 1rem;
    color: #cbd5e1;
    text-align: justify;
    line-height: 1.6;
}

.titulo-personagem {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.personagens-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.projetos-card {
    background-color: brown;
    padding: 1rem;
    border-radius: 16px;
    width: 650px;
    height: 200px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.fotos, .sr-fotos {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.paragrafo-projetos {
    font-size: 1rem;
    color: #cbd5e1;
    line-height: 1.6;
}

.final {
    text-align: center;
    padding: 1rem;
    background-color: brown;
    color: white;
    margin-top: 2rem;

}

.formulario-contato{
    
}

.contatos-titulo{
    text-align: center;
}

@media (max-width: 600px) {
    .menu {
        flex-direction: column;
        gap: 1rem;
    }

    .logo {
        width: 80px;
    }

    .projetos-card {
        width: 90%;
    }

    .sobre {
        width: 100%;
    }
}

.contatos{
    background-color: brown;
    padding: 1rem;
    border-radius: 16px;
    width: 650px;
    height: 200px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
